body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.game-container, #result-container {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

.image-container {
    margin: 20px 0;
}

#game-image {
    max-width: 500px; /* Adjust width as needed */
    max-height: 400px; /* Adjust height as needed */
    height: auto;
    border-radius: 8px;
}

.input-container {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#share-link {
    margin-top: 20px;
}

#shareable-link {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}
